<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Church-Me | Feature churches</title>

    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Mukta+Malar" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
    <link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
    <link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">

    <!-- Custom styles for this template -->
    <link href="/css/agency.css" rel="stylesheet">
    <link href="/css/special.css" rel="stylesheet">

  </head>
  
  if (logged_in)
    <body id="page-top">

      <!-- Navigation -->
      <nav class="navbar navbar-expand-lg dark-background not-main-menu" id="mainNav">
        <div class="container">
          <a class="navbar-brand js-scroll-trigger" href="/">Church-<p class="ME_RED">Me</p>.com</a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ml-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/church-finder">Church Finder</a>
              </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
              </li>
              if (logged_in)
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> Admin </a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item dark-text" href="/add_church">Add Church</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dark-text" href="/edit_churches">Edit Churches</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dark-text" href="/featured">Feature Churches</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item dark-text" href="/logout">Logout</a>
                  </div>
                </li>
            </ul>
          </div>
        </div>
      </nav>

      // Portfolio-Grid
      section(class="bg-light" id="portfolio")
        div(class="container")
          div(class="row")
            div(class="col-lg-12 text-center")
              h2(class="section-heading text-uppercase") Star the churches you want to feature
          div(class="row")

            // Featured churches
            <form method="post" action="" class="contact1-form validate-form col-md-12 col-sm-12">
            for church in churches
              input(class="star col-md-6 col-sm-6 portfolio-item" type="checkbox" name="featured_churches" value=church.church_id)
              div(class="col-md-6 col-sm-6 portfolio-item")
                a(class="portfolio-link" href="#")
                  div(class="portfolio-hover")
                    div(class="portfolio-hover-content")
                      i(class="fas fa-plus fa-3x")
                  img(class="img-fluid" src=church.image_path)
                div(class="portfolio-caption")
                  h4=church.church_name
                  p(class="text-muted")="Edit me"
                  
            div(class="container-contact1-form-btn")
              button(class="contact1-form-btn")
                span="Submit"
                input(type="submit" value="" class="submit-btn-special")
                i(class="fa fa-long-arrow-right" aria-hidden="true")
            </form>
                  
                  
      // Footer
      footer
        div(class="container")
          div(class="row")
            div(class="col-md-4")
              span(class="copyright" id="copyright") Copyright &copy; Church-Me 2018
              <script>
                var span = document.getElementById('copyright');
                var year = (new Date()).getFullYear();
                if (year != 2018)
                  span.innerHTML += "-" + (new Date()).getFullYear();
              </script>
            div(class="col-md-4")
              ul(class="list-inline social-buttons")
                li(class="list-inline-item")
                  a(href="#")
                    i(class="fab fa-twitter")
                li(class="list-inline-item")
                  a(href="#")
                    i(class="fab fa-facebook-f")
                li(class="list-inline-item")
                  a(href="#")
                    i(class="fab fa-linkedin-in")
            div(class="col-md-4")
              ul(class="list-inline quicklinks")
                li(class="list-inline-item")
                  a(href="#") Privacy Policy
                li(class="list-inline-item")
                  a(href="#") Terms of Use
                li(class="list-inline-item")
                  a(href="/login") Admin    
      
      <!-- Bootstrap core JavaScript -->
      <script src="/vendor/jquery/jquery.min.js"></script>
      <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

      <!-- Plugin JavaScript -->
      <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

      <!-- Contact form JavaScript -->
      <script src="/js/jqBootstrapValidation.js"></script>
      <script src="/js/contact_me.js"></script>

      <!-- Custom scripts for this template -->
      <script src="/js/agency.min.js"></script>

    </body>

</html>
