doctype html
html(lang="en")
  head
    title Church-Me | Find a church now
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")

    link(href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet")

    // Custom fonts for this template
    link(href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Mukta+Malar" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic" rel="stylesheet" type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css")

    // Custom styles for this template
    link(href="css/agency.css" rel="stylesheet")

  body(id="page-top")

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Church-<p class="ME_RED">Me</p>.com</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"> Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/church-finder">Church Finder</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/#contact">Contact</a>
            </li>
            if (logged_in)
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown"> Admin </a>
                <div class="dropdown-menu">
                  <a class="dropdown-item dark-text" href="/add_church">Add Church</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item dark-text" href="/edit_churches">Edit Churches</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item dark-text" href="/featured">Feature Churches</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item dark-text" href="/logout">Logout</a>
                </div>
              </li>
          </ul>
        </div>
      </div>
    </nav>

    header(class="masthead")
      div(class="overlay")
        div(class="container")
          div(class="intro-text")
            div(class="intro-lead-in") Church-Me
            div(class="intro-heading text-uppercase") Nashville let us help you find a church!
            <form method="post" action="/church-finder">
              div(class="main-search-bar-div")
                  input(type="text" class="input-group main-search-bar" name="zip" placeholder="Eg. 37067" required)
                  input(type="submit" value="Submit ZIP Code" class="input-group-btn btn btn-primary btn-xl text-uppercase")
            </form>

    // Portfolio-Grid
    section(class="bg-light" id="portfolio")
      div(class="container")
        div(class="row")
          div(class="col-lg-12 text-center")
            h2(class="section-heading text-uppercase") Featured Churches of the Month


        div(class="row")

          // Featured churches
          for church in featured_churches
            div(class="col-md-6 col-sm-6 portfolio-item")
              a(class="portfolio-link" data-toggle="modal" href="#portfolioModal" + church.church_id)
                div(class="portfolio-hover")
                  div(class="portfolio-hover-content")
                    i(class="fas fa-plus fa-3x")
                img(class="img-fluid" src=church.image_path)
              div(class="portfolio-caption")
                h4=church.church_name
                p(class="text-muted")= church.church_city + "," + church.church_state



    // Contact section
    section(id="contact")
      div(class="container")
        div(class="row")
          div(class="col-lg-12 text-center")
            h2(class="section-heading text-uppercase") Contact Us

        div(class="row")
          div(class="col-lg-12")
            form(method="post" action="/")
              div(class="row")
                div(class="col-md-6")
                  div(class="form-group")
                    input(class="form-control" id="name" type="text" name="name" placeholder="Your Name *" required="required" data-validation-required-message="Please enter your name.")
                    p(class="help-block text-danger")
                  div(class="form-group")
                    input(class="form-control" id="email" type="email" name="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email.")
                    p(class="help-block text-danger")
                  div(class="form-group")
                    input(class="form-control" id="phone" type="tel" name="phone" placeholder="Your Phone *" required="required" data-validation-required-message="Please enter your phone number.")
                    p(class="help-block text-danger")
                div(class="col-md-6")
                  div(class="form-group")
                    textarea(class="form-control" id="message" name="message" placeholder="Your Message *" required="required" data-validation-required-message="Please enter a message.")
                    p(class="help-block text-danger")
                div(class="clearfix")
                div(class="col-lg-12 text-center")
                  div(id="succeess")
                  button(id="sendMessageButton" class="btn btn-primary btn-xl text-uppercase" type="submit") Send Message
                  
    section(id="logos")
      div(class="container")
        div(class="row")
          div(class="col-lg-12 text-center")
            h2(class="section-heading text-uppercase") Partners
        div(class="row")
          div(class="col-lg-6")
            img(class="img-fluid" src="/img/logo2.jpg")
          div(class="col-lg-6")
            img(class="img-fluid" src="/img/logo3.png")

    // Footer
    footer
      div(class="container")
        div(class="row")
          div(class="col-md-4")
            span(class="copyright" id="copyright") Copyright &copy; Church-Me 2018
            <script>
              var span = document.getElementById('copyright');
              var year = (new Date()).getFullYear();
              if (year != 2018)
                span.innerHTML += "-" + (new Date()).getFullYear();
            </script>
          div(class="col-md-4")
            ul(class="list-inline social-buttons")
              li(class="list-inline-item")
                a(href="#")
                  i(class="fab fa-twitter")
              li(class="list-inline-item")
                a(href="#")
                  i(class="fab fa-facebook-f")
              li(class="list-inline-item")
                a(href="#")
                  i(class="fab fa-linkedin-in")
          div(class="col-md-4")
            ul(class="list-inline quicklinks")
              li(class="list-inline-item")
                a(href="#") Privacy Policy
              li(class="list-inline-item")
                a(href="#") Terms of Use
              li(class="list-inline-item")
                a(href="/login") Admin
          
    for church in featured_churches    
      div(class="portfolio-modal modal fade" id="portfolialModal" + church.church_id tabindex="-1" role="dialog" aria-hidden="true")
        div(class="modal-dialog")
          div(class="modal-content")
            div(class="close-modal" data-dismiss="modal")
              div(class="rl")
                div(class="rl")
            div(class="container")
              div(class="row")
                div(class="col-lg-8 mx-auto")
                  div(class="modal-body")
                    h2(class="text-uppercase")=church.church_name 
                        
                    iframe(src=church.video_link width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)
                        
                    p
                      a(href="video link here")=church.church_name 
                      p from 
                      a(href="https://vimeo.com/user8734129") Lighthouse 1232 
                      p on 
                      a(href="https://vimeo.com") Vimeo 
                        
                    button(class="btn btn-primary" data-dismiss="modal" type="button")
                      i(class="fas fa-times")
                      p Close project


    script(src="vendor/jquery/jquery.min.js")
    script(src="vendor/bootstrap/js/bootstrap.bundle.min.js")
    script(src="vendor/jquery-easing/jquery.easing.min.js")
    script(src="js/jqBootstrapValidation.js")
    script(src="js/contact_me.js")
    script(src="js/agency.min.js")
